---
import ButtonPrimaty from "@/components/common/button_primaty.astro";
import ButtonSquare from "@/components/common/button_square.astro";
import IconMoney from "@/components/icons/icon_money.astro";
import IconCoin from "@/components/icons/icon_coin.astro";
import IconTruck from "@/components/icons/icon_truck.astro";
import IconRay from "@/components/icons/icon_ray.astro";
import IconQuestion from "@/components/icons/icon_question.astro";

const data = [
    {
        text: "Ways to Pay",
        icon: IconMoney
    },
    {
        text: "Services & Rebates",
        icon: IconCoin
    },
    {
        text: "Moving?",
        icon: IconTruck
    },
    {
        text: "Report Outage",
        icon: IconQuestion
    },
]
---

<section class="bg-[#00148C] text-white relative">
    <div class="px-5 lg:px-0 pt-[120px] pb-[280px] lg:pb-[220px] relative overflow-hidden">
        <div class="size-screen col gap-6 text-center lg:text-start z-10 relative">
            <h1 class="title into-bottom">
                We're here for your <br> 
                home this summer
            </h1>
            <p class="paragraph into-bottom-2">
                If you need support, we have programs that can <br class="br-hidden"> 
                help - like our new Payment Assistance Bundle.
            </p>
            <ButtonPrimaty 
                onclick="showModal()" 
                text="Explore Options" 
                className="mx-auto lg:mx-0 into-bottom-3" 
            />
        </div>
        
        <div class="size-screen lg:relative">
            <img 
                src="/images/wind_turbines.png" 
                alt="Wind Turbines"
                class="absolute -bottom-28 lg:top-1/2 lg:-translate-y-1/2 right-0 rotate-[45deg] p-6 border-2 border-[#02AFF0] into-right-2" 
                loading="eager"
            >
        </div>
    </div>

    <div class="w-full px-5 lg:px-0 lg:w-auto grid grid-cols-2 lg:flex flex-row gap-2.5 absolute-center-x -bottom-[200px] lg:-bottom-32 into-left">
        {data.map(({ text, icon: Icon }) => (
            <ButtonSquare text={text} className="">
                <Icon slot="icon" class="size-[30px] stroke-black" />
            </ButtonSquare>
        ))}
    </div>
</section>