---
import ButtonSecondary from "@/components/common/button_secondary.astro";
---

<section class="bg-[url('/images/wind_turbines_hero.jpg')] padding-auto bg-cover bg-center bg-no-repeat">
    <div class="size-screen bg-white rounded-2xl py-[70px] col gap-11 items-center text-center">
        <h1 class="title">
            Schedule your no-cost <br> 
            assessment today
        </h1>

        <p class="text-xl text-[#5D5D5D]">
            By taking advantage of a Home Energy Assessment, you’re not only improving <br>
            your home’s energy performance and saving money, you’re getting the experience <br>
            of making hands-on improvements while learning about your home.
        </p>

        <ButtonSecondary text="Contact" />
    </div>
</section>