---
import IconArrowRotate from "./icons/icon_arrow_rotate.astro";
import IconPpl from "./icons/icon_ppl.astro";
---

<footer class="bg-main text-white w-full pt-[60px] lg:pt-[128px] pb-5">
    <div class="size-screen flex flex-col lg:flex-row lg:justify-between mb-[70px] lg:mb-[120px]">
        <div class="col gap-3 lg:gap-[26px] mb-11 lg:mb-0">
            <IconPpl class="mb-2" />

        </div>

        <div class="flex flex-col lg:flex-row gap-[36px] lg:gap-10">
            <div class="col gap-3 lg:gap-4">
                <h3>Contact</h3>
                <a href="tel:+12108923660" class="row gap-2.5 hover:underline cursor-pointer">
                    <span>1-210-892-3660</span>
                    <IconArrowRotate class="size-6 fill-white" />
                </a>
            </div>

        </div>
    </div>

    <p class="lg:text-center px-5 lg:px-0">
        Copyright @ 2025. All rights reserved.
    </p>
</footer>