---
import IconXMark from "./icons/icon_x_mark.astro";
import IconInfo from "./icons/icon_info.astro";
import ButtonSecondary from "./common/button_secondary.astro";
---

<div 
  id="modal" 
  class="fixed top-0 left-0 z-[100] flex items-center justify-center w-screen h-screen backdrop-blur-3xl bg-black/50 transition-opacity duration-300 opacity-0 pointer-events-none scale-95"
>
  <div class="bg-white col gap-8 rounded-xl px-4 lg:px-9 py-4 max-w-[570px] w-full transition-transform duration-300 scale-95">
    <button 
        onclick="closeModal()" 
        class="ml-auto -mr-4 p-2 cursor-pointer"
    >
        <IconXMark class="size-8 fill-black" />
    </button>

    <h1 id="modal-title" class="title text-center">
      We're here for your home 
      this summer 
    </h1>

    <p id="modal-description" class="text-center text-lg">
      If you need support, we have programs that can help - like our new
      Payment Assistance Bundle.
    </p>

    <div class="bg-main/10 text-main row gap-2.5 p-4 rounded-xl">
        <IconInfo class="fill-main min-w-5 min-h-5 size-5" />
        Need help? Call us at 1-210-892-3660 or click “Start Now” to get in touch with our team.
    </div>

    <ButtonSecondary link="tel:+12108923660" text="Start Now" className="mx-auto mb-6" />
  </div>
</div>