---
const { link, onclick, text } = Astro.props;
---

<a
    {...(link && { href: link })}
    {...(link && { target: '_blank' })} 
    {...(!link && onclick && { onclick })}
    class="btn-square"
>
    <slot name="icon" />

    <span>
        {text}
    </span>
</a>