---
const { link, onclick, text, className = '', open } = Astro.props;
---

<a
    {...(link && { href: link })}
    {...(!link && onclick && { onclick })}
    class={`btn-secondary ${className}`}
>
    <slot name="icon" />

    <span>
        {text}
    </span>
</a>