---
const { link, onclick, text, className = '', open } = Astro.props;
---

<a
    {...(link && { href: link })}
    {...(link && { target: '_blank' })}
    {...(!link && onclick && { onclick })}
    class={`btn-primary ${className}`}
>
    {text}
</a>
