---
const { link, text, className } = Astro.props;
---

<a
    {...(link && { href: link })}
    {...(link && { target: '_blank' })} 
    class={`btn-secondary ${className}`}
>
    <slot name="icon" />

    <span>
        {text}
    </span>
</a>