---
const { link, text } = Astro.props;
---

<a
    {...(link && { href: link })}
    {...(link && { target: '_blank' })} 
    class="btn-square"
>
    <slot name="icon" />

    <span>
        {text}
    </span>
</a>