---
import "../styles/global.css";
import Nav from "@/components/nav.astro";
import Footer from "@/components/footer.astro";
import Modal from "@/components/modal.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Penelec</title>
		
		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- Font -->
        <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">

		<!-- ScrollReveal CDN  -->
		<script src="https://unpkg.com/scrollreveal"></script>
		<Fragment set:html={`
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFTG3B2X');</script>
 `} />
	</head>
	<body id="body" class="scrollbar">
        <div class="w-full h-full overflow-hidden">
			<Nav />
			
			<main>
				<slot />
		  	</main>

			<Footer />

			<Modal />
		</div>
	</body>
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFTG3B2X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</html>

<script is:inline>
	// Scroll to section
    function scrollToSection(sectionId) {
        var section = document.getElementById(sectionId);
        if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
        }
    }
    // End Scroll to section

	// Modal
	function showModal(title = '', description = '') {
		const modal = document.getElementById('modal');
		const body = document.getElementById('body');
		const modalTitle = document.getElementById('modal-title');
		const modalDescription = document.getElementById('modal-description');

		modalTitle.textContent = title;
		modalDescription.textContent = description;

		modal.classList.remove('opacity-0', 'pointer-events-none', 'scale-95');
		modal.classList.add('opacity-100', 'pointer-events-auto', 'scale-100');
		body.classList.add('overflow-hidden');
	}

	function closeModal() {
		modal.classList.remove('opacity-100', 'pointer-events-auto', 'scale-100');
		modal.classList.add('opacity-0', 'pointer-events-none', 'scale-95');
		body.classList.remove('overflow-hidden');
	}
	// End Modal
</script>

<style is:global>
    *{
        font-family: 'Helvetica Neue', Arial, sans-serif;
    }

	html {
	  	background-color: white;
		color: black;
	  	scroll-behavior: smooth;
	}
	@media(prefers-reduce-motion: reduce){
	  	html{
			scroll-behavior: auto;
	  	}
	}
</style>